[submodule "black-parrot"]
    path = black-parrot
    url = https://github.com/black-parrot/black-parrot/
    ignore = dirty
[submodule "black-parrot-sdk"]
    path = black-parrot-sdk
    url = https://github.com/black-parrot-sdk/black-parrot-sdk/
    ignore = dirty
[submodule "black-parrot-tools"]
    path = black-parrot-tools
    url = https://github.com/black-parrot/black-parrot-tools/
    ignore = dirty
